<%- include('partials/header') %>
<title>What is Knab?</title>
<br>
    <div id="signup" style="margin:10%;text-align: center;">
        <h2>Knab is a reward based app system which provides its services to both the customers and Ecommerce companies. This app is based on the concept of "KNAB Score"which judges customers based to their shopping pattern.</h2>
    </div>

<%- include('partials/footer') %>